<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>H20 Feedback Response</title>
        <link rel="shortcut icon" href="https://www.h2o.ai//wp-content/uploads/fbrfg/favicon-16x16.png" />
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" href="{{ static_url("css/400.css") }}">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    </head>
    <body>
        <div class="error-500">
            <div class="error-code m-b-10 m-t-20">400 <i class="fa fa-warning"></i></div>
            <h2 class="font-bold">Oops 400!, Not Well Formed Requests</h2>

            <div class="error-desc">
                Something went wrong, We will fix soon. Please come back.
                <div><br/>
                    <!-- <a class=" login-detail-panel-button btn" href="http://vultus.de/"> -->
                    <a href="/feedbackresponse" class="btn btn-primary"><span class="glyphicon glyphicon-home"></span> Go back to Homepage</a>
                </div>
            </div>
        </div>
    </body>
</html>