.error-500 {
  margin: 0 auto;
  text-align: center;
}
.error-500 .error-code {
  bottom: 60%;
  color: #4686CC;
  font-size: 96px;
  line-height: 100px;
  font-weight: bold;
}
.error-500 .error-desc {
  font-size: 12px;
  color: #647788;
}
.error-500 .m-b-10 {
  margin-bottom: 10px!important;
}
.error-500 .m-b-20 {
  margin-bottom: 20px!important;
}
.error-500 .m-t-20 {
  margin-top: 20px!important;
}
