<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>H20 Feedback Response</title>
    <link rel="shortcut icon" href="https://www.h2o.ai//wp-content/uploads/fbrfg/favicon-16x16.png">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
    <link rel="stylesheet" href="{{ static_url("css/feedback_form.css") }}">
    <div class="container contact-form">
        <div class="contact-image">
            <img src="https://www.h2o.ai/wp-content/themes/h2o2018/templates/dist/images/h2o_logo.svg" alt="rocket_contact"/>
        </div>
        <div class="col-md-16">
            <span>
                <center>
                    <table>
                        {%for key in feedback_response%}
                            <tr>
                                <td>{{key}}</td><td>: {{feedback_response[key]}}</td>
                            </tr>
                        {%end%}
                    </table>
                </center>
        </div>
    </div>
</body>
</html>

