<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>H20 Feedback Response</title>
    <link rel="shortcut icon" href="https://www.h2o.ai//wp-content/uploads/fbrfg/favicon-16x16.png" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#feedback_table').DataTable();
} );
    </script>
</head>
<body>
    <link rel="stylesheet" href="{{ static_url("css/feedback_form.css") }}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <div class="container contact-form">
        <div class="contact-image">
            <img src="https://www.h2o.ai/wp-content/themes/h2o2018/templates/dist/images/h2o_logo.svg" alt="rocket_contact"/>
        </div>
        <div class="col-md-16">
            <table id="feedback_table" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Feedback ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Rating</th>
                        <th>Comments</th>
                        <th>Commented on</th>
                    </tr>
                </thead>
                {%for each_response in feedback_response%}
                    <tr>
                        {%for key in each_response%}
                            {%if key == 'feedback_id'%}
                                <td><a href='{{"/feedbackresponse?feedback_id="+str(each_response[key])}}'>{{each_response[key]}}</a></td>
                            {%else%}
                                <td>{{each_response[key]}}</td>
                            {%end%}
                        {%end%}
                    </tr>
                {%end%}
                <tfoot>
                    <tr>
                        <th>Feedback ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Rating</th>
                        <th>Comments</th>
                        <th>Commented on</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</body>
</html>

