<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>H20 Feedback Form</title>
    <link rel="shortcut icon" href="https://www.h2o.ai//wp-content/uploads/fbrfg/favicon-16x16.png" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('label').click(function() {
                $('label').removeClass('active');
                $(this).addClass('active');
            });
        }


        );

    (function() {
'use strict';
window.addEventListener('load', function() {
// Fetch all the forms we want to apply custom Bootstrap validation styles to
var forms = document.getElementsByClassName('needs-validation');
// Loop over them and prevent submission
var validation = Array.prototype.filter.call(forms, function(form) {
form.addEventListener('submit', function(event) {
if (form.checkValidity() === false) {
event.preventDefault();
event.stopPropagation();
}
form.classList.add('was-validated');
}, false);
});
}, false);
})();
    </script>
</head>
<body>

    <link rel="stylesheet" href="{{ static_url("css/feedback_form.css") }}">
        <div class="container contact-form">
            <div class="contact-image">
                <img src="https://www.h2o.ai/wp-content/themes/h2o2018/templates/dist/images/h2o_logo.svg" alt="rocket_contact"/>
            </div>
            <form class="container needs-validation" novalidate method="post" action="/feedbackresponse" id="feedback_form" >
                <h3>We love to hear from you</h3>
               <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" name="name" id="name" class="form-control" placeholder="Your Name *" value="" required pattern="[A-Za-z_ ]{2,40}$"/>
                            <div class="invalid-feedback">No, you missed this one.</div>
                        </div>
                        <div class="form-group">
                            <input type="text" name="email" id="email" class="form-control" placeholder="Your Email *" value="" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
                            <div class="invalid-feedback">No, you missed this one.</div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 rate-us-label">Rate US</label>
                            <div class="rating col-sm-9" id="sv">
                                <div class="invalid-feedback">No, you missed this one.</div>
                        <label>☆
                          <input type="radio" name="starValue" value="5" required />

                        </label>

                        <label>☆
                          <input type="radio" name="starValue" value="4" required />
                        </label>
                        <label>☆
                          <input type="radio" name="starValue" value="3" required />
                        </label>
                        <label>☆
                          <input type="radio"  name="starValue" value="2" required />
                        </label>
                        <label>☆
                          <input type="radio" name="starValue" value="1" required />

                        </label>
                      </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea name="comments" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;" required></textarea>
                            <div class="invalid-feedback">No, you missed this one.</div>
                        </div>
                    </div>
                    <div class="col-md-6 offset-md-4">
                        <div class="form-group">
                            <input type="submit" name="btnSubmit" id="btnSubmit" class="btn btn-secondary" value="Send Message" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
</body>
</html>

